.hand {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    scale: 0.6;
    z-index: 10;
}

.p1 {
    bottom: 0;
    height: 15vh;
    padding: 24px 48px;

    &:hover:not(.collapse) {
        scale: 1;
        transform: translateY(-14vh);
    }

    &:hover .collapse {
        scale: 0.6;
    }

    &.collapse {
        transform: translateY(0) !important;
    }

    .card {
        margin-top: 12px;
        cursor: pointer;
    }
}

.p2 {
    top: 0;
    height: 12vh;
    display: flex;
    align-items: flex-end;
    z-index: 10;

    .card {
        rotate: 180deg;
    }
}
