.opponent-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100px;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s ease;
    pointer-events: none;

    .user-deck {
        display: flex;
    }

    .button {
        height: 50px;
        width: 180px;
        font-size: 20px;

        &:not(.disabled) {
            pointer-events: initial;
        }
    }
}

.higher-opponent {
    color: var(--gray-color);
    font-size: 28px;
    filter: grayscale(0.8) blur(0.5px);
}
