.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 600px;
}

.square {
    height: 95%;
    width: 96%;
    position: absolute;
    top: 45%;
    left: 50%;
    bottom: 0;
    margin: -50% 0 0 -50%;
    border-radius: 45%;
}

.white {
    animation: rotate 10s infinite linear forwards, brighten 9s ease-in-out;
    transition: all 1s ease;
    border: 1px solid var(--primary-color);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes brighten {
    0% {
        background: white;
    }

    95% {
        background: var(--secondary-color);
    }

    100% {
        background: white;
    }
}
