.match {
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);

    .board {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
    }

    .column {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        @media screen and (max-width: 1400px) {
            display: none;
        }
    }

    &__score {
        height: 80px;
        width: 80px;
        align-self: flex-start;
        align-content: center;
        margin-top: 16px;
        padding: 0;
        background-color: var(--background-color);
        border: 1px solid var(--primary-color);
        border-radius: 8px;
        color: var(--white-color);
        font-size: 64px;
        line-height: 1.3;
        text-align: center;
    }

    .grid {
        height: 920px;
        width: 680px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: var(--background-color);
        opacity: 0.975;
        perspective: 400px;

        & :nth-child(1) {
            transform: scale(0.8) rotateX(5deg) translateX(50px);
        }
        & :nth-child(2) {
            transform: scale(0.8) rotateX(5deg);
        }
        & :nth-child(3) {
            transform: scale(0.8) rotateX(5deg) translateX(-50px);
        }
        & :nth-child(4) {
            transform: scale(0.88) rotateX(5deg) translate(30px, -70px);
        }
        & :nth-child(5) {
            transform: scale(0.88) rotateX(5deg) translateY(-70px);
        }
        & :nth-child(6) {
            transform: scale(0.88) rotateX(5deg) translate(-30px, -70px);
        }
        & :nth-child(7) {
            transform: scale(0.95) rotateX(5deg) translate(12px, -85px);
        }
        & :nth-child(8) {
            transform: scale(0.95) rotateX(5deg) translateY(-85px);
        }
        & :nth-child(9) {
            transform: scale(0.95) rotateX(5deg) translate(-12px, -85px);
        }

        @media screen and (max-width: 1200px) {
            height: 748px;
            width: 532px;
        }

        @media screen and (max-width: 900px) {
            height: 640px;
        }

        @media screen and (max-width: 600px) {
            height: 520px;
            width: 340px;
        }
    }

    .player,
    .cpu {
        position: relative;
        height: 100vh;
        width: 240px;
        display: flex;
        align-self: flex-end;
        box-sizing: border-box;

        .card:nth-child(1) {
            position: absolute;
            top: 5%;
        }
        .card:nth-child(2) {
            position: absolute;
            top: 20%;
        }
        .card:nth-child(3) {
            position: absolute;
            top: 35%;
        }
        .card:nth-child(4) {
            position: absolute;
            top: 50%;
        }
        .card:nth-child(5) {
            position: absolute;
            top: 65%;
        }

        @media screen and (max-width: 1200px) {
            height: 95vh;
            width: 180px;
        }

        @media screen and (max-width: 900px) {
            margin-top: 20px;
            height: 220px;
            width: 100%;

            .card:nth-child(1) {
                top: 0;
                right: 10%;
            }
            .card:nth-child(2) {
                top: 0;
                right: 25%;
            }
            .card:nth-child(3) {
                top: 0;
                right: 40%;
            }
            .card:nth-child(4) {
                top: 0;
                right: 55%;
            }
            .card:nth-child(5) {
                top: 0;
                right: 70%;
            }
        }

        @media screen and (max-width: 600px) {
            width: 90%;
            height: 165px;
        }
    }

    .cpu {
        justify-content: flex-end;

        @media screen and (max-width: 900px) {
            justify-content: flex-start;
        }
    }

    .selected {
        box-shadow: var(--secondary-color) 0px 10px 10px,
            var(--secondary-color) 0px -10px 10px,
            var(--secondary-color) 0px 5px 5px,
            var(--secondary-color) 0px 5px 5px,
            var(--secondary-color) 0px -5px 5px;
    }
}
