.match {
	flex-direction: row !important;
	align-items: center;
	justify-content: space-between;
	background-color: var(--accent2-color);

	.board {
		position: absolute;
		left: 50%;
		height: 900px;
		transform: translatex(-50%);
		pointer-events: none;
	}

	.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 800px;
	}

	.player,
	.cpu {
		height: 90vh;
		width: 300px;
		display: flex;
		justify-content: center;
		margin-top: 2rem;
	}

	.card.active {
		border: 8px solid var(--secondary-color);
	}

	.cpu,
	.player {
		position: relative;

		.card:nth-child(1) {
			position: absolute;
			top: 4%;
		}
		.card:nth-child(2) {
			position: absolute;
			top: 18%;
		}
		.card:nth-child(3) {
			position: absolute;
			top: 32%;
		}
		.card:nth-child(4) {
			position: absolute;
			top: 46%;
		}
		.card:nth-child(5) {
			position: absolute;
			top: 60%;
		}
	}
}
