.product-tour {
    height: 90vh;
    min-height: 600px;
    width: 90vw;
    min-width: 800px;
    padding: 24px 48px;
    text-align: center;
    font-size: 28px;
    overflow-x: hidden;

    @media screen and (max-width: 912px) {
        font-size: 22px;
    }

    @media screen and (max-width: 768px) {
        min-height: 700px;
        min-width: 100%;
        padding: 24px;
        font-size: 20px;
    }

    @media screen and (max-width: 400px) {
        font-size: 18px;
    }

    &.open {
        animation: modal-grow 0.5s forwards;
    }

    .button {
        padding: 8px 24px;
        font-size: 24px;

        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
    }
}

@keyframes modal-grow {
    0% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modal-shrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
