.collection .header {
    width: 100%;
    padding-top: 48px;
    background-color: var(--background3-color);
    text-align: center;
}

.card-collection {
    min-height: 100vh;
    width: 100vw;
    background: var(--background3-color);
    text-align: center;
    overflow-y: hidden;

    .card {
        height: 300px;
        width: calc(300px * 0.725);

        span {
            height: 40px;
            width: 40px;
            font-size: 28px;
        }

        @media screen and (max-width: 900px) {
            height: 200px;
            width: calc(200px * 0.725);

            span {
                height: 28px;
                width: 28px;
                font-size: 18px;
            }
        }
    }

    .checkbox {
        font-size: 48px;

        svg.check {
            font-size: 48px;
        }

        @media screen and (max-width: 900px) {
            font-size: 36px;

            svg.check {
                font-size: 36px;
            }
        }
    }

    .card-list {
        width: 100%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 225px);
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        gap: 24px;
        row-gap: 48px;
        padding: 48px;

        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(auto-fit, 150px);
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, 125px);
            row-gap: 24px;
            padding: 24px;
        }
    }

    .card-container {
        position: relative;
    }
}
