.setup {
	align-items: center;
	justify-content: center;
	flex-direction: row !important;
	gap: 2rem;
	background-image: url('../../assets/pageImages/facecave.jpg');
	background-position: top;
	background-size: cover;

	.settings {
		position: relative;
		height: 80vh;
		width: 50vw;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;
		color: var(--white-color);

		.radios {
			display: flex;
		}

		.settings__list {
			position: relative;
			box-sizing: border-box;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			padding: 4rem 1rem 0 1rem;
			font-size: 1.25rem;

			.setting {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				align-self: flex-start;
				justify-content: center;

				&__field {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				label {
					margin-right: 1rem;
				}

				p {
					margin: 0;
					color: var(--white-color);
					font-size: 1rem;
					font-weight: 300;
				}

				input[type='radio'] {
					margin: 0 0.5rem 0 1rem;
				}

				input[type='number'] {
					width: 36px;
					background-color: var(--accent2-color);
					border: 2px solid var(--secondary-color);
					border-radius: 4px;
					color: var(--secondary-color);
					padding: 3px 0 1px 0;
					font-size: 1rem;
					text-align: center;
				}
			}

			.disabled {
				pointer-events: none;
				color: var(--gray-color);

				input[type='radio']:after,
				input[type='checkbox']:after {
					content: '';
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 11px;
					height: 11px;
					display: inline-block;
					background-color: var(--gray-color);
					border: 2px solid var(--black-color);
				}

				input[type='checkbox']:after {
					transform: translate(-50%, 0);
				}

				input[type='radio']:after {
					border-radius: 15px;
				}
			}
		}

		h1 {
			position: absolute;
			top: 0;
			min-width: 175px;
			margin-top: 0;
			padding: 0.5rem 4rem;
			background-color: var(--accent2-color);
			border: 3px solid var(--primary-color);
			border-radius: 0 0 1rem 1rem;
			border-top: none;
			color: var(--white-color);
			text-shadow: 1px 1px 5px var(--accent2-color);
			text-align: center;
		}
	}

	.player {
		height: 75vh;
		width: 15vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border: 4px double var(--secondary-color);
		border-radius: 1rem;
		color: var(--white-color);

		&__image {
			width: 8vw;
			background-color: var(--accent-color);
			border: 2px solid var(--primary-color);
			border-radius: 1rem;
		}

		&__rank {
			width: 8vw;
		}
	}

	.player__info {
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		line-height: 1rem;
		text-align: center;
	}
}
