/******** Mix-ins *********/

@mixin gold-effect {
}

/******* Containers *********/

.page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.box {
    background-color: var(--background-colorOpacity);
    border: 2px solid;
    border-image: var(--gold-gradient45) 1;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) -40px -36px 130px 0px inset,
        rgba(0, 0, 0, 0.9) 0px -40px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: var(--white-color);
}

.panel {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
}

/******** Reusable Classes *********/

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    height: 100%;
    width: 100%;
}

/******* Styled Borders ********/

.gold-border {
    height: 2px;
    margin: 0;
    border: 0;
    background: var(--gold-gradient);
}
