.user-pack {
    position: relative;
    height: 400px;
    width: 80%;

    @media screen and (max-width: 900px) {
        align-items: flex-start !important;
    }

    .pack-image {
        img {
            height: 200px;

            @media screen and (min-width: 1200px) {
                height: 250px;
            }

            @media screen and (max-width: 600px) {
                height: 150px;
            }
        }
    }

    .pack-name {
        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            font-size: 22px;
        }
    }

    .pack-info {
        height: 75%;
        width: 100%;
        align-items: normal;
        padding-left: 36px;

        @media screen and (max-width: 600px) {
            padding-left: 12px;
        }

        hr {
            height: 2px;
            width: 100%;
            background-color: var(--secondary2-color);
            border: 0;
        }

        .pack-odds {
            margin-top: 72px;
            h4 {
                margin: 4px 0;
                text-decoration: underline;
            }
        }
    }

    .available-inventory {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 24px;
    }
}
