.chosen-item {
    height: 375px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px 12px 0 0;
    overflow: auto;

    .chosen-item-image {
        margin: 48px;
        text-align: center;

        img {
            height: 200px;
            margin-bottom: 24px;

            @media screen and (max-width: 1080px) {
                height: 160px;
            }

            @media screen and (max-width: 900px) {
                height: 120px;
            }
        }
    }

    .chosen-item-info {
        width: 75%;

        @media screen and (max-width: 1080px) {
            width: 70%;
        }

        @media screen and (max-width: 400px) {
            width: 65%;
            font-size: 14px;
        }

        hr {
            height: 2px;
            background-color: var(--secondary2-color);
            border: 0;
        }

        .chosen-item-details {
            margin-top: 12px;
        }
    }
}
