.cell {
	height: 295px;
	width: 215px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--primary-color);
	border-radius: 1rem;
	color: var(--white-color);

	.element {
		width: 4vw;
		pointer-events: none;
	}
}
