.cell {
	height: calc(30vh - 4px);
	width: calc((30vh * 0.725) - 4px);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--primary-color);
	border-radius: 1rem;
	color: var(--white-color);

	.element {
		width: 3vw;
		pointer-events: none;
	}
}
