.item-info {
    width: 100%;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 12px;
    }

    .item-image {
        margin: 36px 12px 0 36px;
        text-align: center;

        @media screen and (max-width: 900px) {
            display: flex;
            align-items: flex-end;
            gap: 12px;
        }

        img {
            height: 200px;
            margin-bottom: 16px;

            @media screen and (max-width: 1080px) {
                height: 160px;
            }

            @media screen and (max-width: 900px) {
                height: 120px;
                margin-bottom: 0;
            }
        }
    }

    .item-details {
        height: 100%;
        width: 100%;
        align-items: normal;
        padding: 36px 36px 0 24px;
        gap: 12px;

        hr {
            height: 2px;
            background-color: var(--secondary2-color);
            border: 0;
        }

        .item-desc {
            margin-top: 12px;
        }

        .item-odds {
            h4 {
                margin: 4px 0;
                text-decoration: underline;
            }
        }
    }
}
