.purchase-bar {
    width: 100%;
    height: 80px;
    padding: 12px;

    @media screen and (min-width: 1200px) {
        height: 100px;
    }

    @media screen and (max-width: 912px) {
        height: 120px;
        flex-direction: column;
        gap: 12px;
    }

    h1 {
        text-align: center;
    }

    .total {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 22px;

        @media screen and (min-width: 1200px) {
            gap: 12px;
            font-size: 28px;
        }

        @media screen and (max-width: 400px) {
            gap: 0;
            flex-direction: column;
        }

        .amount {
            gap: 8px;
            color: var(--secondary-color);
            font-size: 22px;

            @media screen and (min-width: 1200px) {
                font-size: 28px;
            }

            .previous-amount {
                color: var(--gray-color);
                text-decoration: line-through;
            }
            img {
                height: 24px;

                @media screen and (min-width: 1200px) {
                    height: 32px;
                }
            }
        }
    }

    .button {
        height: 40px;
        width: 160px;
        font-size: 20px;

        @media screen and (min-width: 1200px) {
            height: 50px;
            width: 200px;
            font-size: 24px;
        }

        .check {
            padding-top: 8px;
            font-size: 48px;
            color: #6eddff;
        }
    }
}
