.item {
    width: 100%;
    height: 100px;
    padding: 4px 24px;
    background-color: rgba(30, 21, 2, 0.6);
    border-bottom: 1px solid var(--white-color);
    cursor: pointer;

    @media screen and (max-width: 1080px) {
        padding: 4px 12px;
    }

    @media screen and (max-width: 400px) {
        width: 100px;
        border: 1px solid var(--secondary2-color);
    }

    .section {
        gap: 18px;

        @media screen and (max-width: 400px) {
            margin-left: 12px;
        }

        img {
            height: 60px;
        }
    }

    .item-name {
        @media screen and (max-width: 400px) {
            width: 0;
            visibility: hidden;
        }
    }

    .item-price {
        gap: 4px;
        padding: 8px;

        img {
            height: 24px;
        }

        @media screen and (max-width: 400px) {
            width: 0;
            visibility: hidden;
        }
    }

    &.chosen {
        background: var(--background-colorOpacity);
        color: var(--primary-color);
        box-shadow: 0 2px 2px 2px var(--primary-color),
            0 -2px 4px var(--primary-color);
    }
}
