.carousel {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
        padding: 4px;
    }

    .arrow-previous,
    .arrow-next {
        color: var(--primary-color);
        font-size: 36px;
        z-index: 90;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            position: absolute;
            bottom: 0;
        }
    }

    .arrow-next {
        @media screen and (max-width: 768px) {
            right: 0;
        }
    }

    .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        gap: 5vw;

        &.previous {
            transform: translateX(-100%);
            opacity: 0;
        }

        &.current {
            transform: translateX(0);
        }

        &.next {
            transform: translateX(100%);
            opacity: 0;
        }

        &.current.right {
            animation: slideOutRight 0.3s forwards;
        }

        &.current.left {
            animation: slideOutLeft 0.3s forwards;
        }

        &.previous.right {
            animation: slideInRight 0.3s forwards;
        }

        &.next.left {
            animation: slideInLeft 0.3s forwards;
        }
    }

    h2 {
        width: 100%;
        text-align: center;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
