.user-inventory {
    height: 80%;
    width: 64px;
    display: flex;
    align-items: flex-end;
    margin-right: 36px;

    @media screen and (max-width: 1080px) {
        display: none;
    }

    .coin {
        font-size: 16px;
        letter-spacing: 1px;
        gap: 8px;

        img {
            height: 18px;
        }
    }
}
