.collection {
    margin-top: var(--navbar-height);
    align-items: center;

    .user-collection {
        height: 600px;
        width: 60vw;
        display: flex;

        .user-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 18px;

            .user-details {
                display: flex;
            }

            .numbers {
                display: flex;
            }

            img {
                height: 124px;
                width: 124px;
                border-radius: 50%;
            }
        }

        .card {
            display: flex;
            flex: 1;
        }
    }

    .filters {
        height: 300px;
    }

    .collection {
        min-height: 100vh;
    }
}
