.collection {
    padding-top: var(--navbar-height);
    align-items: center;
    background-color: var(--background-color);

    hr {
        height: 2px;
        width: 90%;
        border: none;
        background: linear-gradient(
            90deg,
            rgba(235, 169, 2, 1) 0%,
            rgba(235, 169, 2, 0.8) 25%,
            rgba(235, 169, 2, 0.6) 50%,
            rgba(235, 169, 2, 0.4) 75%,
            rgba(235, 169, 2, 0.2) 100%
        );
    }

    .filters {
        min-height: 150px;
        gap: 5vw;
        background-color: var(--background3-color);

        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 24px;
            padding: 24px;
            font-size: 20px;
        }
    }
}
