.collection.page {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/pattern3.jpg');
	background-position: center;
	background-size: cover;

	h1 {
		width: 300px;
		align-self: center;
		padding: 0.25rem 5rem;
		color: var(--white-color);
		font-size: 3rem;
		text-align: center;
		font-weight: 700;
		letter-spacing: 4px;
	}

	.list {
		height: calc(100vh - (var(--navbar-height) + 3px));
		width: 100vw;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;

		.header {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			span {
				font-size: 1.5rem;
				font-weight: 300;
				letter-spacing: 2px;
				margin-bottom: 0.5rem;
			}
		}

		.disabled {
			border: 1px solid var(--primary-color);
			filter: blur(1px) grayscale(0.5);
		}
	}

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 2rem 4rem;
	}

	.display {
		width: 252.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 3rem;

		.info {
			height: 100px;
			font-size: 1.15rem;
		}

		p {
			margin: 0;
			color: var(--secondary-color);
			text-align: center;
			text-shadow: 2px 2px 1px var(--accent2-color),
				-1px -1px 1px var(--accent2-color), 1px -1px 1px var(--accent2-color),
				-1px 1px 1px var(--accent2-color);
		}
	}

	.card {
		position: relative;
		height: 350px;
		width: 252.5px;
		margin-bottom: 0.5rem;
		background-color: var(--black-color);
		border-radius: 1rem;
		z-index: 1;

		&__image {
			height: 100%;
			background: linear-gradient(45deg, rgb(73, 25, 25), rgb(168, 42, 42));
			border-radius: 1rem;
		}
	}
}
