.discovery {
    padding-top: var(--navbar-height);
    background: url('../../assets/page-images/discoveryRoom.jpg');
    background-size: cover;
    background-position: bottom;

    .panel {
        min-height: 400px;
        min-width: 600px;
        height: 70vh;
        width: 80vw;
        flex-direction: column;
        padding: 24px;

        .panel-header {
            min-height: 75px;
            height: 10%;
            width: 80%;
            text-align: center;
        }

        .user-discoveries {
            min-height: 250px;
            height: 80%;
            width: 95%;
            display: flex;
            gap: 4vw;

            img {
                height: 300px;
            }
        }

        .panel-footer {
            min-height: 75px;
            height: 10%;
            width: 80%;

            .button {
                height: 60px;
                width: 300px;
                font-size: 28px;
            }
        }
    }
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .arrow {
        font-size: 36px;
        z-index: 10;
    }
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;

    &.previous {
        transform: translateX(-100%);
    }

    &.current {
        transform: translateX(0);
    }

    &.next {
        transform: translateX(100%);
    }

    &.current.previous {
        animation: slideOutLeft 1s;
    }

    &.current.next {
        animation: slideOutRight 1s;
    }

    &.current {
        animation: slideIn 0.5s;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
