.battle-preview {
    position: relative;
    height: 80vh;
    min-height: 600px;
    width: 800px;

    @media screen and (min-width: 1440px) {
        width: 1024px;
    }

    @media screen and (max-width: 1024px) {
        min-height: 720px;
        width: 100%;
    }

    .close-modal {
        position: absolute;
        font-size: 36px;
        top: 12px;
        right: 12px;
        z-index: 100;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            font-size: 32px;
        }
    }

    .rules-deck-wrapper,
    .buttons {
        display: flex;
        flex: 1;
        width: 100%;
        padding: 0 24px 80px;
        gap: 12px;

        @media screen and (max-width: 600px) {
            padding: 0 8px 60px;
        }
    }

    .rules-deck-wrapper {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    .buttons {
        position: absolute;
        bottom: 12px;
        width: 100%;
        display: flex;
        padding: 0 24px;

        @media screen and (max-width: 768px) {
            padding: 0 8px;
        }

        .button {
            font-size: 24px;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }

            @media screen and (max-width: 600px) {
                font-size: 14px;
            }
        }

        .spacer {
            width: 250px;

            @media screen and (max-width: 768px) {
                width: 0px;
            }
        }

        .action-buttons {
            display: flex;
            flex: 1;
            gap: 48px;

            @media screen and (max-width: 768px) {
                gap: 12px;
            }
        }
    }

    h3 {
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }
}
