.landing {
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 10vh 0;
	box-sizing: border-box;
	background-image: url('../../assets/pageImages/snakecave.jpg');
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	overflow-y: auto;

	.auth {
		position: relative;
		height: 100%;
		width: 30vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.button {
			bottom: 0;
		}

		@media screen and (max-width: 900px) {
			width: 50vw;
			padding: 1vh;
		}

		@media screen and (max-width: 600px) {
			width: 75vw;
			padding: 2vh;
		}

		.logo {
			&__large {
				width: 80%;
				margin: 2em 0;

				@media screen and (max-width: 900px) {
					width: 50%;
				}
			}

			&__medium {
				width: 70%;
				margin: 1rem 0;

				@media screen and (max-width: 900px) {
					width: 40%;
					margin: 0;
				}
			}
		}

		&__form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 2rem;
		}

		&__error {
			margin: 5px 0;
			color: var(--error-color);
		}

		&__footer {
			margin: 15px 0;
			color: var(--white-color);

			@media screen and (max-width: 900px) {
				margin: 5px 0;
			}

			@media screen and (max-width: 600px) {
				width: 100%;
				margin: 15px 0;
				font-size: 14px;
				text-align: center;
			}

			a {
				margin-left: 6px;
				text-decoration: none;
			}
		}
	}

	.tip__fullscreen {
		position: absolute;
		bottom: 1vh;
		right: 2vw;
		color: var(--white-color);
	}
}
