.landing {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/snakecave.jpg');
	background-position: bottom;
	background-size: cover;

	.auth {
		position: relative;
		height: 100%;
		width: 30vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.logo {
			&__large {
				width: 80%;
				margin: 2em 0;
			}

			&__medium {
				width: 70%;
				margin: 1rem 0;
			}
		}

		&__form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 2rem;
		}

		&__error {
			margin: 5px 0;
			color: var(--error-color);
		}

		&__footer {
			margin: 15px 0;
			color: var(--white-color);

			a {
				margin-left: 6px;
				text-decoration: none;
			}
		}
	}
}
