.landing {
    padding: 80px 0;
    background-image: url('../../assets/page-images/library.jpg');
    background-position: center;
    background-size: cover;

    .auth {
        position: relative;
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: 768px) {
            min-height: 70vh;
            width: 100vw;
        }

        .logo {
            margin: 16px 0;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &-register {
                width: 600px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }

    .tip__fullscreen {
        position: absolute;
        bottom: 1vh;
        right: 2vw;
        color: var(--white-color);
    }
}
