.card {
    position: relative;
    height: 300px;
    width: calc(300px * 0.725);
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;

    @media screen and (max-width: 1200px) {
        height: 225px;
        width: calc(225px * 0.725);
        border-radius: 12px;

        img {
            border-radius: 12px;
        }

        span {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 900px) {
        height: 200px;
        width: calc(200px * 0.725);

        img {
            border-radius: 4px;
        }

        span {
            font-size: 18px;
        }

        .checkbox {
            font-size: 24px;

            svg.check {
                font-size: 20px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        height: 150px;
        width: calc(150px * 0.725);

        span {
            font-size: 14px;
        }

        .checkbox {
            font-size: 20px;

            svg.check {
                font-size: 16px;
            }
        }
    }

    &:hover {
        z-index: 10;
    }

    &.blue {
        background-image: url('../../assets/card/blue.jpg');
    }

    &.red {
        background-image: url('../../assets/card/red.jpg');
    }

    &.transparent {
        background: none;
    }

    &.not__user {
        pointer-events: none;
    }

    &.harmony {
        .card__values {
            color: var(--primary2-color);
        }
    }

    &__image {
        height: 100%;
        border-radius: 8px;
        pointer-events: none;
    }

    &__values {
        display: flex;
        flex-direction: column;
        color: var(--white-color);
        line-height: 1.4;
        text-shadow: 1.25px 1.25px 1.25px var(--black-color),
            -1.25px -1.25px 1.25px var(--black-color),
            1.25px -1.25px 1.25px var(--black-color),
            -1.25px 1.25px 1.25px var(--black-color);
        font-size: 28px;
        pointer-events: none;

        .up {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .right {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
        }

        .down {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .checkbox {
        position: absolute;
        top: 5%;
        right: 8%;
        z-index: 2;

        font-size: 32px;

        .check {
            color: var(--primary2-color);
        }

        .uncheck {
            color: var(--background-color);
        }

        svg {
            border-radius: 7px;
            cursor: pointer;
        }

        svg.check {
            border: 3px solid var(--background-color);
            font-size: 26px;
        }
    }
}
