.card {
    position: relative;
    height: calc(25vh);
    width: calc(25vh * 0.725);
    border-radius: 12px;
    box-shadow: -1px 1px 1px 1px var(--black-color);

    & > * {
        border-radius: 16px;
    }

    &__side {
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s ease;
    }

    &.is-showing .card__front {
        transform: rotateY(0);
    }

    &.is-showing .card__back {
        transform: rotateY(180deg);
    }

    &.is-dragged {
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.1s;
    }

    &.is-selected {
        box-shadow: 2px 2px 1px 0.5px var(--secondary-color),
            2px -2px 1px 0.5px var(--secondary-color),
            -2px 2px 1px 0.5px var(--secondary-color),
            -2px -2px 1px 0.5px var(--secondary-color),
            4px 4px 10px 1px var(--primary-color),
            4px -4px 10px 1px var(--primary-color),
            -4px 4px 10px 1px var(--primary-color),
            -4px -4px 10px 1px var(--primary-color);
        scale: 1.1;
        z-index: 9;
    }

    &:hover {
        z-index: 10;
    }

    &__image {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        pointer-events: none;

        @media screen and (max-width: 600px) {
            border-radius: 4px;
        }
    }

    &__values {
        font-size: 2.5vh;
        pointer-events: none;

        span {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            font-family: 'Jost';
        }

        .up {
            top: 0;
            left: 50%;
            height: 3.5vh;
            width: 4.75vh;
            transform: translateX(-50%);
            border-radius: 0 0 12px 12px;
        }

        .right {
            position: absolute;
            right: 0;
            top: 49.5%;
            transform: translateY(-50%);
            height: 4.5vh;
            width: 3.5vh;
            border-radius: 16px 0 0 16px;
        }

        .left {
            position: absolute;
            left: 0;
            top: 49.6%;
            transform: translateY(-50%);
            height: 4.5vh;
            width: 3.4vh;
            border-radius: 0 16px 16px 0;
        }

        .down {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 3.6vh;
            width: 4.75vh;
            border-radius: 16px 16px 0 0;
        }
    }
}
