@mixin main-gradient {
    background: var(--accent2-color);
    background: -webkit-linear-gradient(
        45deg,
        var(--accent2-color),
        var(--tertiary-color)
    );
    background: linear-gradient(
        45deg,
        var(--accent2-color),
        var(--tertiary-color)
    );
}

@mixin secondary-gradient {
    background: var(--primary-color);
    background: -webkit-linear-gradient(
        45deg,
        var(--accent2-color),
        var(--tertiary-color)
    );
    background: linear-gradient(
        45deg,
        var(--primary-color) 65%,
        var(--secondary-color)
    );
}

.button {
    @include secondary-gradient();
    position: absolute;
    min-height: 24px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -16px;
    padding: 10px 20px;
    border: 1px solid var(--accent2-color);
    border-radius: 8px;
    box-shadow: 3px 3px 0 var(--black-color);
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 2px var(--black-color),
        -0.5px -0.5px 2px var(--black-color),
        0.5px -0.5px 2px var(--black-color), -0.5px 0.5px 2px var(--black-color);
    transition: 1s;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        @include main-gradient();
        background-color: var(--accent2-color);
        border: 1px solid var(--primary-color);
        box-shadow: 6px 6px 0 var(--secondary-color);
        color: var(--secondary-color);
        text-shadow: 1px 1px 5px var(--accent2-color);
        transition: 0.5s;

        span:nth-child(2) {
            margin-right: 15px;
            transition: 0.5s;
        }
    }
}
