.button {
	position: absolute;
	min-height: 1.5rem;
	min-width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -1rem;
	padding: 10px 20px;
	background: var(--primary-color);
	border-radius: 0.5rem;
	color: var(--white-color);
	font-size: 20px;
	text-decoration: none;
	box-shadow: 3px 3px 0 var(--black-color);
	transition: 1s;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		color: var(--secondary-color);
		text-shadow: 1px 1px 5px var(--accent2-color);
		box-shadow: 6px 6px 0 var(--secondary-color);
		transition: 0.5s;

		span:nth-child(2) {
			margin-right: 15px;
			transition: 0.5s;
		}
	}
}
