.button {
    padding: 4px 12px;
    background-color: var(--secondary2-color);
    border: 1.5px solid var(--primary-color);
    box-shadow: inset 0 0 3px 1px var(--background2-color);
    font-size: inherit;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 2px var(--black-color),
        -0.5px -0.5px 2px var(--black-color),
        0.5px -0.5px 2px var(--black-color), -0.5px 0.5px 2px var(--black-color);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        background: var(--primary-color);
        border: 1px solid var(--secondary-color);
        box-shadow: inset 0 0 3px 1px var(--primary2-color);
        transform: translateY(-1px);
    }

    &.disabled {
        filter: grayscale(0.8) blur(0.5px);
        pointer-events: none;
    }
}
