.matchmaking {
    justify-content: center;
    background-image: url('../../assets/pageImages/darkportal.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(0.7);
}
