.home {
    background: rgb(0, 19, 35);

    .container {
        height: 100vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .button {
            position: static;
            width: 15vw;
            font-size: 36px;
        }
    }
}
