.home {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/treehouse.jpg');
	background-position: center;
	background-size: cover;

	.menu {
		width: 100%;

		&__card,
		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}

		&__card {
			position: relative;
			height: 500px;
			width: 400px;
		}

		&__info {
			position: absolute;
			bottom: 0;
			height: 175px;
			width: 100%;
			box-sizing: border-box;
			padding: 35px;
			border-radius: 0 0 1rem 1rem;
			color: var(--white-color);
			text-align: center;
			font-size: 1.1rem;
		}
	}

	.matchmaking {
		background-image: url('../../assets/volcano.png');
		background-position: center;
		background-size: cover;
		filter: grayscale(0.7);
	}
}
