.setup {
    position: relative;
    padding-top: var(--navbar-height);

    .opponent-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 84px 0;
        z-index: 2;

        .header {
            width: 80vw;
            margin-bottom: 36px;
            text-align: center;
        }

        .opponent,
        .higher-opponent {
            height: 150px;
            width: 85vw;
            padding: 8px 48px;
            background-color: var(--background2-color);
        }

        .opponent {
            position: relative;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            transition: all 0.8s ease;
            cursor: pointer;

            &__info {
                height: 100%;
                width: 33%;
                display: flex;
                align-items: center;
                gap: 18px;

                img {
                    height: 100%;
                    background-color: var(--error-color);
                    border-radius: 8px;
                }

                h2 {
                    margin: 0;
                    @media screen and (max-width: 600px) {
                        font-size: 22px;
                    }
                }
            }

            &__stats {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 64px;
                text-align: center;

                .stat {
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }

                @media screen and (max-width: 900px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 900px) and (min-aspect-ratio: 4/3) {
                    flex-direction: row;
                    gap: 12px;

                    p {
                        margin-bottom: 0;
                    }
                }

                @media screen and (max-width: 600px) {
                    font-size: 18px;
                }
            }

            &__rewards {
                height: 60%;
                width: 25%;
                flex-direction: column;
                align-self: center;
                gap: 12px;

                > p {
                    text-decoration: underline;
                }

                .rewards {
                    display: flex;
                    gap: 18px;

                    .reward {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p {
                            margin-bottom: 4px;
                            color: var(--primary-color);
                        }
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                        }
                        img {
                            height: 20px;
                            width: 20px;
                        }
                        .card-icon {
                            margin-top: 4px;
                            font-size: 24px;
                        }
                    }
                }
            }

            &.selected {
                margin-bottom: 100px;
                box-shadow: 6px 0px 4px var(--secondary-color),
                    -6px 0px 4px var(--secondary-color);

                & .opponent-menu {
                    transform: translate(-50%, 100%);
                    opacity: 1;
                }
            }

            .opponent-menu {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                height: 100px;
                width: 75vw;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                z-index: -1;
                opacity: 0;
                transition: all 0.8s ease;
                pointer-events: none;

                .user-deck {
                    display: flex;
                }

                .button {
                    height: 50px;
                    width: 180px;
                    font-size: 20px;

                    &:not(.disabled) {
                        pointer-events: initial;
                    }
                }
            }
        }

        .higher-opponent {
            color: var(--gray-color);
            font-size: 28px;
            filter: grayscale(0.8) blur(0.5px);
        }
    }
}
