.setup .background {
    background: url('../../assets/page-images/battleSetup2.jpg');
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.setup {
    position: relative;
    padding-top: var(--navbar-height);

    .opponent-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 84px 0;
        z-index: 2;

        .header {
            width: 80vw;
            margin-bottom: 36px;
            text-align: center;
        }
    }

    .battle-alert {
        height: 400px;
        width: 800px;
        flex-direction: column;
        gap: 48px;
        font-size: 20px;
        z-index: 10;

        .buttons {
            display: flex;
            gap: 48px;

            .button {
                padding: 12px 24px;
                font-size: 32px;
            }
        }
    }
}
