.build-deck {
    .step-3 {
        @media screen and (max-width: 912px) {
            flex-direction: column !important;
            font-size: 2vh;
        }
    }

    .fill-deck-image {
        width: 40vw;

        @media screen and (max-width: 912px) {
            width: 50vw;
        }

        @media screen and (max-width: 768px) {
            width: 60vw;
        }
    }

    .check-box-image {
        height: 40vh;

        @media screen and (max-width: 1024px) {
            height: 30vh;
        }

        @media screen and (max-width: 400px) {
            height: 20vh;
        }
    }
}
