.solo {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/pageImages/floating.jpg');
	background-position: center;
	background-size: cover;

	.menu {
		width: 80%;
		flex-direction: column;
		gap: 5vh;
		color: var(--white-color);
		font-size: 1.3rem;

		&__bar {
			position: relative;
			height: 200px;
			width: 60vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}

		&__creature {
			position: absolute;
			bottom: 0;
		}

		&__text {
			width: 50%;
			font-weight: 500;
		}

		.medium {
			width: 300px;
		}

		.large {
			width: 350px;
		}

		.left {
			align-self: flex-start;
			left: 0;

			p {
				align-self: flex-end;
				padding-right: 5rem;
			}

			.button {
				right: 5rem;
			}
		}

		.right {
			align-self: flex-end;
			right: 0;

			p {
				align-self: flex-start;
				padding-left: 5rem;
			}

			.button {
				left: 5rem;
			}
		}
	}
}
