.solo {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/castle.png');
	background-position: top;
	background-size: cover;

	.menu {
		width: 80%;
		flex-direction: column;

		&__bar {
			position: relative;
			height: 200px;
			width: 60vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
		}

		&__creature {
			position: absolute;
			bottom: 0;
		}

		.medium {
			width: 300px;
		}

		.large {
			width: 350px;
		}

		.left {
			align-self: flex-start;
			left: 0;

			.button {
				right: 5rem;
			}
		}

		.right {
			align-self: flex-end;
			right: 0;

			.button {
				left: 5rem;
			}
		}
	}
}
