.experience-bar {
    height: 100%;

    .progress-bar {
        min-height: 10px;
        min-width: 250px;
        display: flex;
        align-items: center;
        border: 1px solid var(--primary-color);
        border-radius: 8px;

        &__inner {
            min-height: 10px;
            background-color: var(--secondary2-color);
            border-radius: inherit;
            box-shadow: 2px 0px 1px var(--gray-color);
        }
    }
}
