.experience-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-bar {
        min-height: 10px;
        min-width: 250px;
        display: flex;
        align-items: center;
        border: 1px solid var(--primary-color);
        border-radius: 4px;

        &__inner {
            height: 100%;
            display: flex;
            align-items: flex-start;
            background-color: var(--secondary2-color);
            border-radius: inherit;
            box-shadow: 1.5px 0px 1px var(--white-color);
        }
    }
}
