.experience-bar {
    height: 100%;

    .progress-bar {
        height: 10px;
        min-width: 250px;
        display: flex;
        align-items: center;
        border: 1px solid var(--white-color);
        border-radius: 8px;

        &__inner {
            height: 100%;
            margin-left: -1px;
            background-color: var(--primary-color);
            border-radius: inherit;
            box-shadow: 2px 0px 1px var(--white-color);
            transition: all 1s linear;
        }
    }
}
