.selected-opponent {
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    @media screen and (max-width: 568px) {
        overflow: visible;
    }

    .opponent-image {
        position: absolute;
        min-height: 768px;
        min-width: 768px;
        z-index: -2;

        @media screen and (max-width: 568px) {
            display: none;
        }
    }

    .side-bar {
        position: absolute;
        top: -100px;
        left: -100px;
        height: 150%;
        width: 350px;
        background-color: rgb(3, 48, 59);
        border-right: 2px solid var(--primary-color);
        rotate: -15deg;
        z-index: -1;

        @media screen and (min-height: 768px) {
            width: 375px;
        }

        @media screen and (min-height: 900px) {
            width: 400px;
        }

        @media screen and (max-width: 568px) {
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            rotate: 0deg;
        }
    }

    .opponent-name {
        position: absolute;
        top: 24px;
        left: 72px;
        font-size: 36px;
        text-align: center;
        z-index: 2;

        @media screen and (min-height: 900px) {
            font-size: 48px;
        }

        @media screen and (max-width: 568px) {
            top: -48px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            font-size: 32px;
        }
    }

    .opponent-info {
        height: 100%;
        align-items: flex-start;
        margin-top: 90px;
        gap: 16px;
        margin-left: -16px;

        @media screen and (min-height: 768px) {
            margin-top: 105px;
            gap: 20px;
            margin-left: -20px;
        }

        @media screen and (min-height: 900px) {
            margin-top: 120px;
            gap: 24px;
            margin-left: -24px;
        }

        @media screen and (max-width: 568px) {
            align-items: center;
            margin-top: 20px;
        }

        .power-attribute {
            .header-wrapper {
                width: 250px;

                @media screen and (min-height: 900px) {
                    width: 300px;
                }
            }
        }

        .rules-attribute {
            .header-wrapper {
                width: 300px;
                padding-right: 25px;

                @media screen and (min-height: 900px) {
                    width: 350px;
                }

                @media screen and (max-width: 568px) {
                    padding-right: 0;
                }
            }

            .value {
                margin-right: 25px;
            }
        }

        .rewards-attribute {
            .header-wrapper {
                width: 350px;
                padding-right: 50px;

                @media screen and (min-height: 900px) {
                    width: 400px;
                }

                @media screen and (max-width: 568px) {
                    padding-right: 0;
                }
            }

            .value {
                width: 50%;
                margin-right: 50px;
                padding-top: 8px;

                img {
                    height: 48px;

                    @media screen and (min-height: 900px) {
                        height: 64px;
                    }
                }

                @media screen and (max-width: 568px) {
                    margin-right: 0;
                }
            }
        }

        .power-attribute,
        .rules-attribute,
        .rewards-attribute {
            height: auto;
            font-size: 22px;

            @media screen and (min-height: 900px) {
                font-size: 28px;
            }

            .header-wrapper {
                position: relative;
                height: 40px;

                @media screen and (min-height: 900px) {
                    height: 50px;
                }
            }

            .header-style {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: -1;
            }

            .value {
                margin-top: 8px;
                font-size: 18px;

                @media screen and (min-height: 900px) {
                    font-size: 24px;
                }
            }
        }
    }
}
