.auth-form {
    width: 100%;

    .form {
        width: 100%;
        flex-direction: column;

        .text-input {
            width: 65%;
        }
    }

    .button {
        position: absolute;
        bottom: -2.5%;
        width: 250px;
    }
}
