.text-input {
    position: relative;
    margin: 20px 5px;

    .input {
        width: 100%;
        padding: 7px 14px;
        background: transparent;
        border: 1px solid var(--secondary2-color);
        color: var(--white-color);
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 500;
        transition: 0.4s;

        @media screen and (max-width: 400px) {
            padding: 7px;
            font-size: 14px;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        color: var(--primary-color);
        cursor: pointer;
    }

    :focus {
        outline: none;
    }

    .input ~ .focus-border:before,
    .input ~ .focus-border:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 1px;
        width: 0;
        background-color: var(--primary-color);
        transition: 0.2s;
        transition-delay: 0.2s;
    }

    .input ~ .focus-border:after {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        transition-delay: 0.6s;
    }

    .input ~ .focus-border i:before,
    .input ~ .focus-border i:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 1px;
        background-color: var(--primary-color);
        transition: 0.2s;
    }

    .input ~ .focus-border i:after {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        transition-delay: 0.4s;
    }

    .input:focus ~ .focus-border:before,
    .input:focus ~ .focus-border:after,
    .input.has-content ~ .focus-border:before,
    .input.has-content ~ .focus-border:after {
        width: 100%;
        transition: 0.2s;
        transition-delay: 0.6s;
    }

    .input:focus ~ .focus-border:after,
    .input.has-content ~ .focus-border:after {
        transition-delay: 0.2s;
    }

    .input:focus ~ .focus-border i:before,
    .input:focus ~ .focus-border i:after,
    .input.has-content ~ .focus-border i:before,
    .input.has-content ~ .focus-border i:after {
        height: 100%;
        transition: 0.2s;
    }

    .input:focus ~ .focus-border i:after,
    .input.has-conten ~ .focus-border i:after {
        transition-delay: 0.4s;
    }

    .input ~ label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 100%;
        color: var(--white-color);
        transition: 0.3s;
        pointer-events: none;

        @media screen and (max-width: 400px) {
            left: 8px;
            font-size: 10px;
        }
    }

    .input:focus ~ label,
    .has-content ~ label {
        top: -12px;
        left: 0;
        font-size: 14px;
        color: var(--primary-color);
        transition: 0.3s;

        @media screen and (max-width: 400px) {
            font-size: 10px;
        }
    }
}
