.filter {
    position: relative;

    select {
        width: 250px;
        margin-top: 4px;
        padding: 2px 6px;
        background: transparent;
        border-radius: 4px;
        color: var(--primary-color);
        font-family: 'Jost';
        font-size: 22px;
        cursor: pointer;

        @media screen and (max-width: 912px) {
            width: 200px;
            font-size: 18px;
        }

        &:focus {
            background-color: var(--background3-color);
            box-shadow: 0 0 0 2px var(--secondary2-color);
            outline: none;
        }
    }

    option:hover {
        background-color: var(--secondary2-color);
    }
}
