.purchase-bar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 48px;

    @media screen and (max-width: 600px) {
        height: 150px;
        flex-direction: column;
    }

    .total {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 28px;

        .amount {
            gap: 8px;
            color: var(--secondary-color);
            font-size: 24px;

            .previous-amount {
                color: var(--gray-color);
                text-decoration: line-through;
            }
            img {
                height: 36px;
            }
        }
    }

    .button {
        height: 60px;
        width: 200px;
        font-size: 24px;
    }
}
