.onboarding {
    position: relative;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;

    .open-modal,
    .close-modal {
        position: absolute;
        top: 24px;
        right: 24px;
        font-size: 48px;
        cursor: pointer;
    }

    h1 {
        font-size: 48px;
    }

    .onboard-bar.outer {
        position: relative;
        height: 10px;
        width: 800px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        border: 2px solid var(--white-color);

        .stage {
            position: absolute;
            height: 80px;

            &__label {
                position: absolute;
                top: -20px;
                left: -50px;
                font-size: 20px;
                white-space: nowrap;
            }

            $totalStages: 5;
            $widthPercent: 25%;

            &:nth-child(1) {
                left: -5px;
            }

            &:nth-child(2) {
                .stage__label {
                    left: -75px;
                }
            }

            @for $i from 2 through $totalStages {
                &.stage:nth-child(#{$i}) {
                    left: calc(#{$widthPercent} * (#{$i} - 1));
                }
            }
        }

        .progress-circle {
            position: absolute;
            top: 28px;
            height: 25px;
            width: 25px;
            background-color: var(--background-color);
            border: 2px solid white;
            border-radius: 50%;
        }

        .progress-circle.full {
            background-color: var(--primary-color);
        }
    }

    .onboard-bar.inner {
        height: 8px;
        background-color: var(--primary-color);
        transition: all 2s ease-out;
    }

    .button {
        height: 60px;
        width: 250px;
        font-size: 24px;
    }

    .progress-modal {
        position: fixed;
        top: 15%;
        left: 10%;
        height: 80vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 48px;
        background: rgba(0, 0, 0, 0.95);
        border: 3px solid var(--secondary-color);
        text-align: center;
        font-size: 36px;
        z-index: 20;
    }
}
