.auth-form {
    width: 100%;

    .form {
        width: 100%;
        flex-direction: column;

        .input {
            width: 65%;
        }

        &__error {
            width: 65%;
            margin-top: 0;
            color: var(--error-color);
            text-align: center;
        }

        &__footer {
            margin: 24px 0 36px 0;
            font-weight: 400;

            a {
                margin-left: 6px;
                color: var(--primary-color);
                font-weight: 700;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .button {
        position: absolute;
        bottom: -22px;
        width: 250px;
        padding: 5px;
        font-size: 24px;
    }
}
