.arcaneum {
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/entrance.jpg');
	background-position: center;
	background-size: cover;

	.menu {
		position: relative;
		width: 100%;
		flex-direction: column;
		padding-bottom: 2rem;

		&__top,
		&__middle {
			display: flex;
		}

		&__top {
			gap: 6rem;
		}

		&__middle {
			gap: 24rem;
		}

		&__bottom {
			margin-top: -4rem;
		}

		&__spell {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 600px;
			transform: translate(-50%, -50%);
			z-index: 0;
		}

		&__card {
			position: relative;
			height: 260px;
			width: 250px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			border: 3px solid var(--primary-color);
			z-index: 1;
		}

		.collection {
			background-image: url('../../assets/library2.jpg');
			background-position: center;
			background-size: cover;
		}
	}
}
