.battle-rules {
    height: 110%;
    width: 250px;
    padding: 8px;
    border: 1px solid var(--secondary2-color);

    @media screen and (min-width: 1440px) {
        width: 300px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        flex: 1;
    }

    &.panel {
        box-shadow: none;
    }
}
