.p1-score,
.p2-score {
    font-size: 36px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        > * {
            justify-content: flex-start !important;
            padding-left: 2vw;
        }
    }

    img {
        height: 6vh;
        margin: 2px;

        @media screen and (max-width: 600px) {
            height: 3vh;
        }

        @media screen and (max-width: 400px) {
            display: none;
        }
    }
}

.p2-score {
    img {
        rotate: 180deg;
    }
}
