.navbar-links,
.burger-menu-links {
    height: 100%;
    display: flex;
    white-space: nowrap;

    .navbar-link,
    .burger-menu-link {
        svg {
            color: var(--white-color);
            font-size: 24px;
        }

        &:hover {
            span,
            svg {
                color: var(--primary-color);
            }
        }

        &.disabled {
            svg {
                color: var(--gray-color);
            }
        }
    }
}

.navbar-links {
    flex: 1;
    gap: 2vw;
    margin-right: 18px;
    margin-bottom: 8px;

    @media screen and (max-width: 1200px) {
        gap: 1vw;
    }

    @media screen and (max-width: 1079px) {
        display: none;
    }

    .navbar-link {
        width: 60px;
        flex-direction: column;
        justify-content: flex-end;
        gap: 6px;
        font-size: 14px;

        span {
            height: 16px;
            visibility: hidden;
        }

        &:hover {
            span {
                height: 20px;
                visibility: visible;
            }
        }

        &.is-active {
            svg {
                color: var(--primary-color);
            }
        }
    }
}

.burger-menu-links {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    font-size: 24px;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }

    @media screen and (max-width: 400px) {
        font-size: 14px;
    }

    .burger-menu-link {
        flex-direction: row-reverse;
        gap: 12px;
        padding-right: 12px;
    }
}
