.battle-over {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    z-index: 20;
    background: url('@assets/page-images/results.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        background-size: 75vh;
    }

    @media screen and (min-width: 768px) and (orientation: portrait) {
        background-size: 75vh;
    }

    @media screen and (max-width: 600px) {
        justify-content: center;
        gap: 5vh;
        background-size: 55vh;
    }

    .result {
        font-size: 20vh;
        -webkit-text-stroke: 2px black;

        @media screen and (max-width: 900px) {
            font-size: 16vh;
        }

        @media screen and (max-width: 768px) {
            font-size: 13vh;
        }

        @media screen and (min-width: 768px) and (orientation: portrait) {
            font-size: 13vh;
        }

        @media screen and (max-width: 600px) {
            font-size: 7.5vh;
            -webkit-text-stroke: 1px black;
        }
    }

    .rewards {
        gap: 10vh;

        @media screen and (max-width: 900px) {
            gap: 5vh;
        }

        @media screen and (min-width: 768px) and (orientation: portrait) {
            gap: 5vh;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
        }

        .coin-xp {
            gap: 10vh;

            @media screen and (max-width: 900px) {
                gap: 5vh;
            }

            @media screen and (min-width: 768px) and (orientation: portrait) {
                gap: 5vh;
            }
        }

        .coin,
        .xp,
        .card-reward {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.8);
            border: 1px solid var(--primary2-color);
            border-radius: 24px;
        }

        .coin,
        .xp {
            height: 25vh;
            width: 25vh;

            @media screen and (min-width: 768px) and (orientation: portrait) {
                height: 15vh;
                width: 15vh;
            }

            @media screen and (max-width: 768px) {
                height: 17.5vh;
                width: 17.5vh;
            }

            @media screen and (max-width: 600px) {
                height: 15vh;
                width: 15vh;
            }
            img {
                height: 8vh;

                @media screen and (max-width: 768px) {
                    height: 6vh;
                }

                @media screen and (min-width: 768px) and (orientation: portrait) {
                    height: 6vh;
                }

                @media screen and (max-width: 600px) {
                    height: 5vh;
                }
            }
            span {
                font-size: 5vh;

                @media screen and (max-width: 768px) {
                    font-size: 3vh;
                }

                @media screen and (min-width: 768px) and (orientation: portrait) {
                    font-size: 3vh;
                }

                @media screen and (max-width: 600px) {
                    font-size: 2vh;
                }
            }
        }

        .xp,
        .coin-reward {
            gap: 12px;
        }

        .card-reward {
            height: 40vh;
            width: 25vh;
            gap: 2vh;

            @media screen and (max-width: 768px) {
                height: 35vh;
                width: 20vh;
                gap: 1vh;
                font-size: 1vh;
            }

            @media screen and (max-width: 600px) {
                height: 30vh;
                width: 25vh;
            }
        }
    }

    .buttons {
        display: flex;
        gap: 7.5vh;

        @media screen and (max-width: 900px) {
            gap: 5vh;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 2vh;
        }

        button {
            height: 7.5vh;
            width: 25vh;
            font-size: 2vh;

            @media screen and (max-width: 900px) {
                height: 5vh;
                width: 20vh;
                font-size: 1.5vh;
            }
        }
    }
}
