.battle-over {
    .results-frame {
        height: 100vh;
        width: 100vh;
    }
    .panel {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .results-wrapper {
        height: 65vh;
        width: 70vh;
        padding: 24px 0;
    }

    .result {
        height: 20vh;
        width: 60vh;
        font-size: 10vh;
        text-align: center;
        -webkit-text-stroke: 2px black;

        @media screen and (max-width: 600px) {
            font-size: 7vh;
        }
    }

    .rewards {
        height: 100%;

        .gained-xp {
            gap: 12px;
            color: var(--secondary-color);
            opacity: 0;
            animation: fade-up 1s ease-out 0.5s forwards;
        }

        .results-xp {
            gap: 2vh;
            font-size: 24px;

            .progress-bar {
                height: 2vh;
                width: 40vh;
                margin-bottom: 10px;

                @media screen and (max-width: 600px) {
                    width: 40vw;
                }

                &__inner {
                    height: 1.8vh;
                }
            }
        }
    }

    .buttons {
        position: absolute;
        bottom: 7vh;
        display: flex;
        gap: 7.5vh;

        @media screen and (max-width: 912px) {
            gap: 5vh;
        }

        @media screen and (max-width: 768px) {
            bottom: 4vh;
            flex-direction: column;
            gap: 2vh;
        }

        button {
            height: 6vh;
            width: 24vh;
            font-size: 2vh;

            @media screen and (max-width: 912px) {
                height: 5vh;
                width: 20vh;
                font-size: 1.5vh;
            }
        }
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(2vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
