.battle-over {
    .results-frame {
        height: 100vh;
        width: 100vh;
    }
    .panel {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .results-wrapper {
        height: 70vh;
        width: 85vh;
        padding: 4vh 0;
        background: url('../../../../assets/page-images/resultsBackdrop.jpg');
        background-size: cover;

        .result {
            width: 60vh;
            font-size: 10vh;
            text-align: center;
            -webkit-text-stroke: 1px black;

            @media screen and (max-width: 600px) {
                font-size: 7vh;
            }
        }

        .user-image {
            height: 15vh;
            width: 15vh;
            margin-bottom: 12px;
            background: var(--background2-color);
            border-radius: 8px;
            border: 2px solid var(--background3-color);
        }

        .rewards {
            flex: 1;
            padding: 24px;
        }
    }
}
