.round-row {
    width: 100%;
    padding-top: 4vh;

    .p1-round-score,
    .p2-round-score {
        position: relative;
        font-size: 6vh;
        text-align: center;

        @media screen and (max-width: 912px) {
            font-size: 4vh;
        }

        img {
            height: 10vh;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            z-index: -1;

            @media screen and (max-width: 912px) {
                height: 8vh;
            }
        }
    }

    .round {
        width: 15vw;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0.6) 85%
        );
        text-align: center;

        @media screen and (max-width: 768px) {
            width: 25vw;
        }
    }
}
