.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    overflow: auto;
    z-index: 9998;
    overflow-x: hidden;

    @media screen and (max-height: 767px) {
        justify-content: flex-start !important;
    }
}

.modal > * {
    z-index: 9999;
}
