.buttons {
    position: absolute;
    bottom: -8vh;
    height: auto;
    width: 100%;
    flex-direction: column-reverse !important;
    gap: 5vh;

    .button {
        position: relative !important;
    }

    a {
        font-size: 2.5vh;
    }
}
