.packs {
	align-items: center;
	justify-content: center;
	gap: 5rem;
	background-image: url('../../assets/crystal.jpg');
	background-position: center;
	background-size: cover;

	.contents {
		height: 350px;
		display: flex;
		gap: 5rem;
	}

	.card {
		position: relative;
		height: 350px;
		width: 252.5px;
		margin-bottom: 0.5rem;
		background-color: var(--black-color);
		border-radius: 1rem;
		z-index: 1;

		&__image {
			height: 100%;
			background: linear-gradient(45deg, rgb(73, 25, 25), rgb(168, 42, 42));
			border-radius: 1rem;
		}

		&__values {
			display: flex;
			flex-direction: column;
			color: var(--white-color);
			text-shadow: 2px 2px 1px var(--black-color),
				-1px -1px 1px var(--black-color), 1px -1px 1px var(--black-color),
				-1px 1px 1px var(--black-color);
			font-size: 36px;

			.up {
				position: absolute;
				top: -1%;
				right: 47%;
			}

			.right {
				position: absolute;
				right: 6%;
				top: 42%;
			}

			.left {
				position: absolute;
				left: 5%;
				top: 42%;
			}

			.down {
				position: absolute;
				bottom: -1%;
				right: 46.5%;
			}
		}
	}
}
