.packs {
	flex-direction: row !important;
	align-items: center;
	background-image: url('../../assets/crystal.jpg');
	background-position: center;
	background-size: cover;
	color: var(--white-color);

	.contents {
		position: relative;
		box-sizing: border-box;
		height: 70vh;
		width: 70vw;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		padding: 0 5rem;
		overflow-y: auto;

		.card {
			margin-bottom: 2rem;
		}

		.open {
			position: absolute;
			bottom: 0;
			width: auto;
			height: auto;
			padding: 0.5rem 2rem;
			font-size: 2rem;
		}
	}

	&__bar {
		position: relative;
		height: 100vh;
		width: 30vw;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		align-self: flex-start;
		justify-content: space-around;
		padding: 2vh 2vw;

		.disabled {
			pointer-events: none;
		}
	}

	.inventory {
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	.coin {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;
		img {
			width: 35px;
		}
	}

	.pack {
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
		gap: 1rem;

		svg {
			color: var(--secondary-color);
			font-size: 1.75rem;
		}

		img {
			width: 5vw;
		}

		.purchase {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;

			p {
				display: flex;
				align-items: center;
				margin: 1rem 0 0 0;
			}

			svg {
				cursor: pointer;
			}

			img {
				width: 1vw;
				margin-left: 0.5vw;
			}
		}
	}

	.checkout {
		position: absolute;
		bottom: 5%;
		right: 50%;
		transform: translateX(50%);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		button {
			height: auto;
			width: 60%;
			font-size: 2rem;
		}

		p {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span {
			margin-right: 1rem;
		}

		img {
			width: 1vw;
			margin-left: 0.5vw;
		}

		.clear {
			width: 2vw;
			margin-left: 1vw;
			background-color: var(--error-color);
			border: 2px solid var(--accent2-color);
			border-radius: 0.5rem;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			font-size: 1.5rem;
			text-align: center;
			cursor: pointer;
		}
	}
}
