.packs {
	align-items: center;
	justify-content: center;
	gap: 5rem;
	background-image: url('../../assets/crystal.jpg');
	background-position: center;
	background-size: cover;

	.contents {
		height: 350px;
		display: flex;
		gap: 5rem;
	}
}
