.battle.page {
    overflow: hidden;
}

.battle {
    align-items: center;
    justify-content: space-between;
    background: url('@assets/page-images/battleBackdrop.jpg');
    background-position: center;
    background-size: 35%;

    .table {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.round-alert {
    height: 100%;
    gap: 36px;

    h1,
    span {
        color: var(--primary-color);
        font-size: 20vh;
        text-shadow: 5px 5px 2px var(--white-color),
            -5px -5px 2px var(--white-color), 5px -5px 2px var(--white-color),
            -5px 5px 2px var(--white-color), 5px 4px 2px var(--white-color),
            -5px -4px 2px var(--white-color), 5px -4px 2px var(--white-color),
            -5px 4px 2px var(--white-color), 5px 3px 2px var(--white-color),
            -5px -3px 2px var(--white-color), 5px -3px 2px var(--white-color),
            -5px 3px 2px var(--white-color), 5px 2px 2px var(--white-color),
            -5px -2px 2px var(--white-color), 5px -2px 2px var(--white-color),
            -5px 2px 2px var(--white-color), 5px 1px 2px var(--white-color),
            -5px -1px 2px var(--white-color), 5px -1px 2px var(--white-color),
            -5px 1px 2px var(--white-color);
        -webkit-text-stroke: 3px black;

        @media screen and (max-width: 912px) {
            font-size: 15vh;
            text-shadow: 4px 4px 2px var(--white-color),
                -4px -4px 2px var(--white-color),
                4px -4px 2px var(--white-color), -4px 4px 2px var(--white-color),
                4px 3px 2px var(--white-color), -4px -3px 2px var(--white-color),
                4px -3px 2px var(--white-color), -4px 3px 2px var(--white-color),
                4px 2px 2px var(--white-color), -4px -2px 2px var(--white-color),
                4px -2px 2px var(--white-color), -4px 2px 2px var(--white-color),
                4px 1px 2px var(--white-color), -4px -1px 2px var(--white-color),
                4px -1px 2px var(--white-color), -4px 1px 2px var(--white-color);
            -webkit-text-stroke: 2px black;
        }

        @media screen and (max-width: 768px) {
            font-size: 10vh;
            flex-direction: column;
            gap: 0;
            text-shadow: 3px 3px 2px var(--white-color),
                -3px -3px 2px var(--white-color),
                3px -3px 2px var(--white-color), -3px 3px 2px var(--white-color),
                3px 2px 2px var(--white-color), -3px -2px 2px var(--white-color),
                3px -2px 2px var(--white-color), -3px 2px 2px var(--white-color),
                3px 1px 2px var(--white-color), -3px -1px 2px var(--white-color),
                3px -1px 2px var(--white-color), -3px 1px 2px var(--white-color);
        }

        @media screen and (max-width: 400px) {
            font-size: 8vh;
            text-shadow: 3px 2px 2px var(--white-color),
                -3px -2px 2px var(--white-color),
                3px -2px 2px var(--white-color), -3px 2px 2px var(--white-color),
                3px 1px 2px var(--white-color), -3px -1px 2px var(--white-color),
                3px -1px 2px var(--white-color), -3px 1px 2px var(--white-color);
            -webkit-text-stroke: 1px black;
        }
    }

    @media screen and (max-width: 912px) {
        font-size: 15vh;
    }

    @media screen and (max-width: 768px) {
        font-size: 10vh;
        flex-direction: column;
        gap: 0;
    }
}

.hidden-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 4vh;
    width: 4vh;
    z-index: 500;
}
