.match.page {
    overflow: hidden;
}

.match {
    align-items: center;
    justify-content: space-between;
    background: url('@assets/page-images/battlePage.jpg');
    background-position: center;
    background-size: cover;

    .table {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.screen-message {
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    font-size: 300px;
    text-align: center;
    text-shadow: 5px 5px 2px var(--primary2-color),
        -5px -5px 2px var(--primary2-color), 5px -5px 2px var(--primary2-color),
        -5px 5px 2px var(--primary2-color), 6px 6px 4px var(--white-color),
        -6px -6px 4px var(--white-color), 6px -6px 4px var(--white-color),
        -6px 6px 4px var(--white-color), 15px 15px 10px var(--black-color),
        -15px -15px 10px var(--black-color), 15px -15px 10px var(--black-color),
        -15px 15px 10px var(--black-color);
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 100;

    &.show {
        animation: fade-in-shrink 1.5s forwards;
    }
}

@keyframes fade-in-shrink {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    10% {
        opacity: 1;
    }

    90% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes message-shrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
