.deck {
    position: relative;
    min-height: 150px;
    width: 100%;
    gap: 5vw;
    padding: 12px 0;
    font-size: 22px;
    border-bottom: 2px solid;
    border-image: var(--gold-gradient45) 1;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 24px;
    }

    .deck-stats {
        gap: 5vw;

        @media screen and (max-width: 768px) {
            gap: 36px;
        }
    }

    .section {
        display: flex;
        gap: 5vw;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }

        .button {
            height: 40px;
            width: 200px;
            font-size: 18px;

            @media screen and (max-width: 912px) {
                height: 32px;
                width: 160px;
            }
        }
    }
}
