.battle-scores {
    width: 100%;
    margin-top: 5vh;

    span {
        font-size: 8vh;
    }

    .total {
        width: 20vw;
        padding: 4px 8px;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0.6) 85%
        );
        text-align: center;

        @media screen and (max-width: 768px) {
            width: 40vw;
        }
    }
}
