.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px;
    z-index: 90;

    &__logo {
        height: 64px;
        padding-right: 2vw;
        cursor: pointer;
    }

    &__login {
        font-size: 24px;
        font-weight: 600;
        text-transform: capitalize;
    }

    .gold-border {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
