@mixin main-gradient {
	background: var(--primary-color);
	background: -webkit-linear-gradient(
		45deg,
		var(--primary-color),
		var(--accent-color)
	);
	background: linear-gradient(45deg, var(--accent-color), var(--primary-color));
}

@mixin hover-effect {
	&:hover {
		animation-name: navbar-hover;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
	}
}

@mixin skew {
	transform: skew(-20deg);
}

@mixin unskew {
	transform: skew(20deg);
}

/*-------------Nav-------------*/
.navbar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
	border-bottom: 3px solid var(--accent-color);
	line-height: 4em;
	overflow: hidden;
	z-index: 1;

	&__container {
		display: flex;

		.disabled {
			opacity: 0.3;
		}
	}

	&__link {
		@include skew;
		display: flex;
		align-items: center;
		padding: 0 1em;
		font-size: 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&.active {
			@include main-gradient;
			border-right: 1px solid var(--secondary-color);
			border-left: 1px solid var(--secondary-color);
			opacity: 0.8;
		}

		p {
			@include unskew;
			display: flex;

			img {
				height: 42px;
			}
		}

		&:hover:not(.active) {
			color: var(--gray-color);
			background: var(--white-color);
			background: linear-gradient(
				45deg,
				var(--tertiary-color),
				var(--secondary-color)
			);
		}
	}

	&__logo {
		@include main-gradient;
		@include skew;
		position: relative;
		right: 1em;
		display: flex;
		align-items: center;
		border-right: 1px solid var(--secondary-color);

		img {
			@include unskew;
			height: 85%;
			margin: 4rem;
			border-radius: 1rem;
			cursor: pointer;
		}
	}

	a {
		text-decoration: none;
	}
}

.login {
	@include hover-effect;
	@include main-gradient;
	@include skew;
	position: relative;
	left: 0.5em;
	border-left: 1px solid var(--secondary-color);
	color: var(--white-color);
	font-size: 1.75rem;
	line-height: 0.75rem;
	white-space: nowrap;
	cursor: pointer;

	p {
		@include unskew;
		padding: 0 3rem;
	}

	&:hover {
		color: var(--secondary-color);
		text-shadow: 1px 1px 5px var(--accent2-color);
	}
}

@keyframes navbar-hover {
	20% {
		padding-right: 0em;
	}
	100% {
		padding-right: 2em;
	}
}
