@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cinzel+Decorative:wght@400;700;900&family=Eczar:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Jost:ital,wght@0,400;0,500;0,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #eba902;
    --primary2-color: rgb(124, 91, 7);

    --secondary-color: rgb(110, 221, 255);
    --secondary2-color: rgb(84, 97, 109);

    --background-color: #001323;
    --background-colorOpacity: rgba(0, 19, 35, 0.9);
    --background2-color: #03303b;
    --background3-color: rgb(0, 10, 19);

    --error-color: rgb(158, 14, 36);

    --black-color: rgb(14, 15, 15);
    --gray-color: rgb(162, 162, 165);
    --white-color: rgb(243, 244, 248);

    --gold-gradient: linear-gradient(
        to right,
        #554903 0,
        #cb9b51 10%,
        #f6e27a 40%,
        #f8f7ee 50%,
        #f6e27a 60%,
        #cb9b51 90%,
        #554903 100%
    );

    --gold-gradient45: linear-gradient(
        45deg,
        #554903 0,
        #cb9b51 5%,
        #f6e27a 40%,
        #f8f7ee 50%,
        #f6e27a 60%,
        #cb9b51 95%,
        #554903 100%
    );

    --navbar-height: 88px;
    --footer-height: 80px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/******* Universal Styling ********/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Cinzel Decorative';
    font-weight: 700;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a,
.navlink {
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
    }

    &:active {
        color: var(--secondary2-color);
    }

    &.disabled {
        pointer-events: none;
        color: var(--gray-color);
    }
}

button {
    font-family: 'Cinzel Decorative';
    font-weight: 700;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
}

p,
span {
    text-shadow: 1px 1px 1px var(--black-color),
        -1px -1px 1px var(--black-color), 1px -1px 1px var(--black-color),
        -1px 1px 1px var(--black-color);
}

p {
    font-family: 'Jost';
}

span {
    font-family: 'Cinzel Decorative';
}

h1,
h2,
h3 {
    text-shadow: 1px 1px 1px var(--black-color),
        -1px -1px 1px var(--black-color), -1px 1px 1px var(--black-color),
        1px -1px 1px var(--black-color), 2px 2px 2px var(--black-color),
        -2px -2px 2px var(--black-color), -2px 2px 2px var(--black-color),
        2px -2px 2px var(--black-color);
}

/******* Scrollbar ********/
::-webkit-scrollbar {
    width: 12px;

    @media screen and (max-width: 768px) {
        width: 10px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background2-color);
    background-clip: padding-box;
    border: 1.5px solid var(--primary2-color);
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
