.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.around,
.around-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.between,
.between-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center,
.center-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.end,
.end-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.start,
.start-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.around-column,
.between-column,
.center-column,
.end-column,
.start-column {
    flex-direction: column;
}

.fill {
    height: 100%;
    width: 100%;
}
