.quantity-selector {
    width: 100%;
    gap: 12px;

    .quantity-button {
        height: 32px;
        width: 38px;
        margin: 0 12px;
        font-size: 18px;

        @media screen and (min-width: 1200px) {
            height: 42px;
            width: 48px;
            font-size: 24px;
        }

        @media screen and (max-width: 600px) {
            height: 26px;
            width: 32px;
            font-size: 14px;
        }

        &.chosen {
            background: var(--gold-gradient45);
        }
    }

    .discount {
        height: 25px;
        margin-bottom: 8px;

        color: var(--primary-color);
    }
}
