.user-panel {
    height: 600px;
    width: 100%;
    background: url('../../../../assets/page-images/collection2.jpg');
    border-bottom: 2px solid;
    border-image: var(--gold-gradient45) 1;

    .panel {
        height: 90%;
        width: 80%;

        @media screen and (max-width: 1024px) {
            height: 100%;
            width: 100%;
        }
    }

    .user {
        width: 650px;

        &__details {
            align-items: flex-end;
            gap: 24px;

            @media screen and (max-width: 600px) {
                flex-direction: column;
                align-items: center;
            }

            .experience-bar {
                margin-top: 18px;
                font-size: 20px;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }

                .progress-bar {
                    height: 18px;
                    width: 500px;
                    margin-bottom: 6px;
                    border: 2px solid var(--primary-color);
                    border-radius: 8px;

                    @media screen and (max-width: 768px) {
                        height: 16px;
                        width: 400px;
                        margin-top: 8px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 60vw;
                    }

                    &__inner {
                        height: 100%;
                    }
                }
            }
        }

        &__stats {
            display: flex;
            margin-top: 48px;
            font-size: 22px;
            text-align: right;
            border-top: 1px solid var(--white-color);

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }

            table:nth-child(1) {
                padding-right: 24px;
                padding-bottom: 12px;
                border-right: 1px solid var(--white-color);

                @media screen and (max-width: 600px) {
                    padding-right: 0;
                }
            }

            tbody {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 300px;
            }

            tr:nth-child(1) {
                margin-top: 12px;
            }

            tr {
                display: flex;
                width: 300px;

                @media screen and (max-width: 400px) {
                    width: 350px;
                }
            }

            table:nth-child(2) {
                tr {
                    width: 225px;

                    @media screen and (max-width: 600px) {
                        width: 175px;
                    }

                    @media screen and (max-width: 400px) {
                        width: 160px;
                    }
                }
            }

            th {
                width: 70%;
                font-weight: 700;

                svg {
                    color: var(--white-color);
                }
            }

            td {
                width: 60px;

                @media screen and (max-width: 600px) {
                    width: 40px;
                }

                @media screen and (max-width: 400px) {
                    width: 30px;
                }
            }
        }
    }
}
