.battle-intro {
    min-height: 720px;
    padding: 36px;
    background: url('@assets/page-images/battleIntro.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

    .p1-intro,
    .p2-intro {
        width: 100%;
        gap: 5vw;
        padding: 24px;

        img {
            height: 250px;
            width: 250px;
            border-radius: 12px;
        }
    }

    .p1-intro > * {
        transform: translateX(-1000%);
        animation: slide-in-right 1s linear 2.5s forwards;
    }

    .p2-intro > * {
        animation: slide-in-left 1s linear forwards;
    }

    h1 {
        height: 195px;
        width: 195px;
        padding-right: 12px;
        color: var(--primary-color);
        border-radius: 50%;
        border: 2px solid var(--primary2-color);
        text-shadow: 2px 2px 2px var(--black-color),
            4px 4px 4px var(--primary2-color), 6px 6px 6px var(--black-color);
        -webkit-text-stroke: 2px black;
        font-size: 172px;
        scale: 0;
        animation: grow 1s linear 1.5s forwards;
        z-index: 100;
    }

    h2 {
        font-size: 84px;
        text-shadow: 4px 4px 4px var(--black-color);
        -webkit-text-stroke: 1px black;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-1000%);
        opacity: 0.8;
    }

    50% {
        transform: translateX(-500%);
        opacity: 0.9;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(1000%);
        opacity: 0.8;
    }

    50% {
        transform: translateX(500%);
        opacity: 0.9;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        scale: 0;
        transform: translate(-250%, -250%);
    }

    40% {
        scale: 0.8;
        transform: translate(-100%, -100%);
    }

    100% {
        scale: 1;
        transform: translate(-50%, -50%);
    }
}
